.content {
    padding-top: .2em;
    padding-left: 2.5em;
    padding-bottom: 2em;
}

.footer {
    padding-left: 2.25em;
    font-family: monospace;
}

.footer a:link {
    color: black;
}

.footer a:visited {
    color: black;
}

.md-head {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}

.md-opt {
    font-family: monospace;
    font-size: large;
}

.mono {
    font-family: monospace;
}
